In [7]:
import pandas as pd
print('SUCCESSFULL')

SUCCESSFULL

In [8]:
feedback_df =pd.read_csv('customer_feedback_scores.csv')
feedback_df.head()

,Date,Customer ID,Region,Product,Support Rating,Product Rating,Comments
0,2024-01-05,CUST001,North,Software A,4,5,Quick resolution
1,2024-01-07,CUST002,South,Software B,3,4,Some bugs found
2,2024-01-09,CUST003,East,Software C,5,5,Very satisfied
3,2024-02-01,CUST004,North,Software A,4,4,Support was helpful
4,2024-02-10,CUST005,South,Software B,2,3,Could be improved

In [9]:
avg_rating=feedback_df.groupby('Product')[['Support Rating','Product Rating']].mean().reset_index()
avg_rating.head()

      Product  Support Rating  Product Rating
0  Software A             4.0             4.6
1  Software B             3.0             3.6
2  Software C             4.8             4.6

# create a new excel workbook and add a Bar chart

In [10]:
import seaborn as sns
print('successfully')

successfully

In [11]:
dataframe
sns.barplot(x='Product',y='Support Rating',data=df,palette=viridis)
plt.title('Customer_Feedback_score')
plt.show()

NameError: name 'df' is not defined