In [34]:
import pandas as pd
import xlsxwriter as xls
print('SUCCESSFULL')

SUCCESSFULL

In [35]:
feedback_df =pd.read_csv('customer_feedback_scores.csv')
feedback_df.head()

,Date,Customer ID,Region,Product,Support Rating,Product Rating,Comments
0,2024-01-05,CUST001,North,Software A,4,5,Quick resolution
1,2024-01-07,CUST002,South,Software B,3,4,Some bugs found
2,2024-01-09,CUST003,East,Software C,5,5,Very satisfied
3,2024-02-01,CUST004,North,Software A,4,4,Support was helpful
4,2024-02-10,CUST005,South,Software B,2,3,Could be improved

# FINDING AVERAGE RATING OF SUPPORT RATING AND PRODUCT RATING

In [36]:
avg_rating=feedback_df.groupby('Product')[['Support Rating','Product Rating']].mean().reset_index()
avg_rating.head()

      Product  Support Rating  Product Rating
0  Software A             4.0             4.6
1  Software B             3.0             3.6
2  Software C             4.8             4.6

# create a new excel workbook and add a Bar chart

In [37]:
import seaborn as sns
print('successfully')

successfully

In [41]:
writer = pd.ExcelWriter('Feedback _score.xlsx',engine='xlsxwriter')

# commiting file to Excel

In [42]:
avg_rating.to_excel(writer,sheet_name ='Feedback_score_with_Bar_chart',index=False)

In [ ]:
workbook = writer.book
worksheet = writer.sheets['Feedback_scores_with_Bar_Chart']

chart= workbook.add_chart({'type':'column'})

chart.add_series({
    'name':'Supporting Rating',
    'categories': ['Feedback_scores_with_bar_chart',1,0,len(avg_rating),0],

    'values':['Feedback_scores_with_bar_chart',1,2,len(avg_rating),2],
})


chart.add_series({
    'name':'Product Rating',
    'categories':['Feedback_scores_with_bar_chart',1,0,len(avg_rating),0],
    'values':['Feedback_scores_with_bar_chart',1,2,len(avg_rating),1],
})

chart.set_title({'name':'Average Customer Rating'})
chart.set_x_axis({'name':'Product'})
chart.set_y_axis({'name':'Average Rating'})

worksheet.insert_chart('G2',chart)
writer.close()